.calculator-overlay.active {
    display: block;
}

.history-wrapper {
    position: absolute;
    top: 10px;
    right: 10px;
    width: 100%;
}
.history-toggle{
    position: absolute;
    top: -10px;
    right: -10px;
    z-index: 150;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 40px;
    height: 40px;
    background:none;
    border: none;
}

.history-toggle img {
    width: 60%;
    height: 60%;
    filter: invert(1);
}

.history-dropdown{
    position: absolute;
    top: 100px;
    right: -10px;
    z-index: 100;
    display: none;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    max-height: 300px;
    background-color: hsl(0,0%,20%);
    overflow-y: auto;
    box-shadow: 0 4px 12px rgba(0,0,0,0.3);

}

.history-dropdown.active{
    display: flex;
}