.calculator-overlay.active {
    display: block;
}

.history-wrapper {
    position: absolute;
    top: 10px;
    right: 10px;
    width: 100%;
}
.history-toggle{
    position: absolute;
    top: -10px;
    right: -10px;
    z-index: 150;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 40px;
    height: 40px;
    background:none;
    border: none;
}

.history-toggle img {
    width: 60%;
    height: 60%;
    filter: invert(1);
}

.history-dropdown{
    position: absolute;
    top: 100px;
    left: 10px;
    z-index: 100;
    display: none;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: .5rem;
    width: 100%;
    max-height: 300px;
    background-color: hsl(0,0%,20%);
    overflow-y: auto;
    box-shadow: 0 4px 12px rgba(0,0,0,0.3);

}

.history-dropdown.active{
    display: flex;
}

.history-search{
    width: 100%;
    padding: 8px 12px;
    font-size: 14px;
    color: white;
    outline: none;
    border: none;
    background-color: inherit;
}

.history-search:focus{
    box-shadow: 0px 0 0 2px var(--button-orange);
}

.history-filters{
    display: flex;
    gap: 5px;
    padding: 5px 5px;
    width: 100%;
    overflow-x: scroll;
}

.history-filters > *{
    font-size: 18px;
    flex-shrink: 0;
}

.history-filter{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 30px;
    height: 30px;
    color: white;
    border: 1px solid var(--button-orange);
    background-color: hsl(0,0%,18%);
    cursor: pointer;
}

@media (min-width:500px){
    .history-search{
        font-size: 16px;
    }
}

@media (min-width: 701px) { 
    .history-dropdown{
        gap: 1rem;
    }
    
    .history-filters {
        justify-content: center; 
    }
}