@import "./base/variables.css";
@import "./base/reset.css";
@import "./calculator_components/history.css";
@import "./calculator_components/display.css";
@import "./calculator_components/buttons.css";

.body__wrapper{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    padding: 0px 20px;
    background: linear-gradient(135deg, #a1c4fd, #c2e9fb);
}

.calculator{
    position: relative;
    width:clamp(280px, 60vw, var(--app-width));
    height: fit-content;
    background-color: hsl(0,0%,15%);
    border-radius: 15px;
    overflow: hidden;
}

.calculator-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.5);
    display: none; 
    z-index: 50;    
}










